/* ============ desktop view ============ */

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/* navbar */
.navbar {
  background-color: #fbfaf6;
  font-family: 'Lato', sans-serif;
  padding: 0 30px;
}

.navbar-brand {
  -webkit-transition: 0.5s; /* For Safari 3.0 to 6.0 */
  transition: 0.5s; /* For modern browsers */
}

.navbar-brand {
  fill:#494949;
}

.navbar-brand:hover {
  fill:#abdf0d;
}

.nav-item{
  font-weight: 400;
  font-size: 1.1em;
  padding: 0 10px;
  text-align: center;
}

.nav-link {
  -webkit-transition: 1.5s; /* For Safari 3.0 to 6.0 */
  transition: 1.5s; /* For modern browsers */
}

.nav-link:hover {
  letter-spacing: 2px;
}

.nav-link:after {
  border-bottom: 3px solid #abdf0d;
  content: " ";
  display: block;
  margin: 0 auto;
  transition: all 280ms ease-in-out;
  width: 0;
}

.nav-link:hover:after {
  width: 100%;
}

/* home */
#home {
  background-color: #fbfaf6;
  text-align: center;
  padding-top: 100px;
}

#home h1{
  font-family: 'Playfair Display', serif;
  color: #494949;
  font-weight: 600;
  font-size: 3em;
  line-height: 1.8;
}

#home h2{
  font-family: 'Lato', sans-serif;
  color: #494949;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.4;
}

#intro {
  padding: 10%;
  background-position: center;
  background-size: cover;
}

#parallax {
  width: 100% !important;
  height: 200px;
  background-image: url(../img/depth-2.png), url(../img/depth-1.png), url(../img/depth-3.png);
  background-repeat:repeat-x;
}

/* work */
#work {
  background-color: #494949;
  padding: 120px 0;
  margin-top: -20px;
}

.imgwrap {
  padding: 10px;
}

.desaturate {
  height: 400px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  background-position: center;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.darker {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.5);
  filter: contrast(1);
}

.caption {
  position: absolute;
  top: 10%;
  width: 100%;
  height: 100%;
  padding: 20%;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  cursor: pointer;
}

.caption h3 {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 2px;
  word-spacing: 3px;
}

.caption p {
  font-size: 1.1em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
}

.caption h3:after {
  padding-top: 10px;
  border-bottom: 3px solid #abdf0d;
  content: " ";
  display: block;
  margin: 0 auto;
  width: 100%;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.imgwrap:hover h3:after {
  width: 0%;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.imgwrap:hover .desaturate {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  opacity: 1;
  cursor: pointer;
}

.imgwrap:hover .caption h3,
.imgwrap:hover .caption p,
.imgwrap:hover .darker {
  opacity: 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer !important;
}

/* footer */
#footer {
  background-color: #abdf0d;
  color: #494949;
  font-family: 'Lato', sans-serif;
}

#footer i {
  color: #494949;
  outline: 4px solid #fbfaf691;
  background-color: #fbfaf691;
  border-radius: 2px;
}

#footer a {
  text-decoration: none;
  color: #494949;
}

.text-muted {
  font-size: 0.8em;
}

/* projects */
.project {
  background-color: #fbfaf6;
  text-align: center;
  padding: 100px 0;
  color: #494949;
  font-family: 'Lato', sans-serif;
  text-align: left;
}

.project h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 2.5em;
  line-height: 1.5;
  text-align: center;
}

.project h2 {
  font-weight: 400;
  font-size: 1.1em;
  padding-bottom: 35px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 2px;
}
#aboutme::after,
.project h2::after {
  padding-top: 35px;
  border-bottom: 3px solid #abdf0d;
  content: " ";
  display: block;
  margin: 0 auto;
  width: 50%;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

#about:hover #aboutme::after,
.project:hover h2::after {
  width: 100%;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.project h3 {
  font-weight: 600;
  font-size: 1em;
  line-height: 1.6;
  padding-bottom: 5px;
}

.project .about_project p {
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.2;
  font-size: 0.9em;
}

.project .btn {
  width: 180px;
  float: right;
  border-radius: 0%;
  border: none;
  color: #494949;
  background-color: #abdf0d;
  border: 3px solid #abdf0d;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  transition: all 200ms ease-in-out;
}

.project .btn:hover {
  border: 3px solid #abdf0d;
  background-color: #fff;
  letter-spacing: 2px;
}

.gif_preview img {
  padding: 3% 0 10%;
  width: 100%;
}

.mob_preview img {
  width: 96%;
  padding-bottom: 30px;
}

.project p,
.project li {
  font-weight: 300;
  font-size: 1em;
}

.project_preview_gif img{
  width: 70%;
  padding: 5px 15%;
}

.project_preview img {
  margin: 0 10%;
  width: 80%;
}

#management_system .technologies .tworow,
#teacher_portal .technologies .tworow {
  columns: 2;
  column-gap: 10px;
  -webkit-columns: 2;
  -moz-columns: 2;
  -moz-column-gap: 10px;
  -webkit-column-gap: 10px;
}

.goback {
  padding-top: 50px;
  text-align: center;
}

.goback a {
  color: #494949;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-decoration: none;
  transition: all 280ms ease-in-out;
}

.goback a:hover{
  letter-spacing: .7px;
}

.goback a:after {
  border-bottom: 3px solid #abdf0d;
  content: " ";
  display: block;
  margin: 0 auto;
  transition: all 280ms ease-in-out;
  width: 0;
}

.goback a:hover:after {
  width: 8%;
}

/*about*/
#about h1 {
  font-size: 2em;
  text-align: left;
  padding-bottom: 20px;
}

#photo {
  width: 350px;
  height: 100%;
  background-position: center;
  background-size: cover;
  padding: 0;
}

#about .skills {
  padding-top: 30px;
}
#about .skills p {
  font-size: 1.2em;
  line-height: 0.9;
  font-size: 0.9em;
}

.skills .btn {
  margin-right: 40px;
}

/*archive*/
#archive {
  background-color: #fbfaf6;
  padding: 120px 0;
}
/* ============ desktop view .end// ============ */

/* ============ mobile view .start// ============ */

@media only screen and (max-width: 768px) {

  /* footer */
  #footer .text-muted {
    top: 100px;
    position: absolute;
  }

  #footer .col-auto {
    width: 100%;
    height: 35px;
    text-align: center;
  }

  .project:hover h2::after,
  .project:active h2::after {
    width: 100%;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }

  .justify-content-between {
    margin: 0;
  }

  .tasks, .technologies, .tools {
    padding: 0 20% 5%;
  }
  
  .project .btn {
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
  }

  .gif_preview {
    padding-top: 5%;
  }
  
  .mob_preview img {
    width: 100%;
    padding: 5px 0px;
    margin-bottom: 20px;
  }
  
  .project_preview {
    padding: 0px;
  }

  .project_preview img {
    width: 100%;
    padding: 0px;
    margin: 0px;
    padding-bottom: 30px;
  }

  #aboutme {
    margin: 0;
  }
  
  #photo {
    height: 400px;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 30px;
  }

  .skills .btn {
    margin-right: 0;
    margin-top: 30px;
  }
}
/* ============ mobile view .end// ============ */