<footer class="pt-5 pb-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <span class="text-muted">&copy; 2022. All Rights Reserved to Tetiana Savaryn</span>
            </div>
            <div class="col-auto">
                <p><i class="fas fa-phone mr-2" ></i>(514) 826-7963</p>
            </div>
            <div class="col-auto">
                <p><i class="fas fa-envelope mr-2"></i>t.savaryn@gmail.com</p>
            </div>
            <div class="col-auto">
                <a href="https://www.linkedin.com/in/tsavaryn/"><i class="fa-brands fa-linkedin-in mr-2"></i>LinkedIn</a>
            </div>
        </div>
        
    </div>
</footer>